main {
  background-color: $main-color;
  width: 100%;
  height: 50%;

  .arrow-right {
    font-size: 2em;
  }

  .convert-button {
    background-color: $button-color;
    border: none;
  }

  .convert-button:hover {
    background-color: $button-color-hover;
  }

  .convert-button:focus {
    background-color: $button-color;
  }

  .convertion-result-bar {
    background-color: $result-color;
  }
}

@media screen and (max-width: 1024px) {
  .arrow-right {
    display: none;
  }
}

@media screen and (max-width: 975px) {
  .arrow-right {
    display: none;
  }
}

@media screen and (max-width: 660px) {
  .arrow-right {
    display: none;
  }
}
