main {
  background-color: $main-color;
  width: 100%;
  height: 40vh;

  .info-icon {
    font-size: 2em;
  }

  .arrow-right {
    font-size: 2em;
  }

  .convert-button {
    background-color: $button-color;
    border: none;
  }

  .convert-button:hover {
    background-color: $button-color-hover;
  }

  .convert-button:focus {
    background-color: $button-color;
  }

  .convertion-result-bar {
    background-color: $result-color;
  }
}

@media screen and (max-width: 1024px) {
  main {
    height: 40vh;
  }

  .arrow-right {
    display: none;
  }

  .info-icon {
    display: none;
  }
}

@media screen and (max-width: 975px) {
  main {
    height: 60vh;
  }

  .arrow-right {
    display: none;
  }

  .info-icon {
    display: none;
  }
}

@media screen and (max-width: 670px) {
  main {
    height: 60vh;
  }

  .arrow-right {
    display: none;
  }

  .info-icon {
    display: none;
  }
}
