@import "./variables";
@import "./navigation-bar";
@import "./main";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Montserrat", sans-serif;
  background-color: $main-color;
  height: 100%;
  width: 100%;
}
